<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% if user.username %}
    <p>{{ user.username }}님이 로그인 하셨습니다.</p>
    <form method="POST" action="/logout/"> {% csrf_token %}
        <input type="submit" value="로그아웃">
    </form>
{% else %}
    <form method="POST" action="/login/">
    {% csrf_token %}
    <p>
        <label for="id_username" >사용자 아이디</label>
        <input type="text" name="user_id" value="tvroom88">
        <label for="id_password" >비밀번호</label>
        <input type="password" name="user_password" value="jhun9102">
    </p>
{#    <input type="hidden" name="next" value=",">#}
    <input type="submit" value="로그인">
    <input type="submit" formaction="/JoinNewPerson/" value="회원가입">
</form>


{% endif %}


</body>
</html>